<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <link th:href="@{/assets/styles/style.css}" rel="stylesheet" >
</head>
<body>
<div class="root_container">

    <table class="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.pagesize}"></td>
        </tr>
    </table>

</div>
<form method="get" th:action="@{/login}">
    <input class="button_item" type="submit" value="exit">
</form>
</body>
</html>