<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <link th:href="@{/assets/styles/style.css}" rel="stylesheet" >
</head>
<body>
<div class="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text"  required pattern="^[a-zA-Z]+$" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" required placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" required pattern="[0-9]{1,10}" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}">
        <table>
            <tr>
                <td>
                    <input type="text" required pattern="^[ 0-9]+$" placeholder="id number" th:name="bookIdToRemove">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removebyauthor}">
        <table>
            <tr>
                <td>
                    <input type="text" required pattern="^[a-zA-Z]+$" placeholder="author name" th:name="bookAuthorToRemove">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>


    <table class="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>

</div>
<form method="get" th:action="@{/login}">
    <input class="button_item" type="submit" value="exit">
</form>
</body>
</html>