<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <link th:href="@{/assets/styles/style.css}" rel="stylesheet">
</head>
<body>
<div class="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text"  placeholder="author" th:field="*{author}">
                <td th:if="${#fields.hasErrors('author')}">
                    <p style="color:red" >Enter author name</p>
                </td>
                </td>
                <td>
                    <input type="text"  placeholder="book_title" th:field="*{title}">
                <td th:if="${#fields.hasErrors('title')}">
                    <p style="color:red" >Enter book title</p>
                </td>
                </td>
                <td>
                    <input type="text"  placeholder="size (pages)" th:field="*{pagesize}">
                <td th:if="${#fields.hasErrors('pagesize')}">
                <p style="color:red" >input digit less than 4 sings</p>
            </td>
                </td>

                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
        <p>remove by:</p>
        <table>
            <tr>
                <td>
                    <input type="text"  placeholder="id number or page quantity" th:field="*{id}">
                </td>

                <td th:if="${#fields.hasErrors('id')}">
                    <p style="color:red">Wrong id or not found</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removebyauthor}" th:object="${bookAuthorToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text"  placeholder="author name or book title" th:field="*{author}">
                </td>

                <td th:if="${#fields.hasErrors('author')}">
                    <p style="color:red">Wrong author name or not found</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/searchbyauthor}" th:object="${bookAuthorToSearch}">
        <p>search by:</p>
        <table>
            <tr>
                <td>
                    <input type="text"  placeholder="author name or title" th:name="authorForSearch">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                   <input type="file"  name="file"/>
                </td>
                <td>
                 <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>

    <table class="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.pagesize}"></td>
        </tr>
    </table>

</div>
<form method="get" th:action="@{/login}">
    <input class="button_item" type="submit" value="exit">
</form>
</body>
</html>