<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book shelf login</title>
    <meta charset="UTF-8">
    <link th:href="@{/assets/styles/style.css}" rel="stylesheet" >

</head>
<body>
<img class="image" th:src="@{/assets/images/book_PNG51037.png}">
<div class="root_container">
    <form method="post" th:action="@{/login/auth}" th:object="${loginform}">
        <br><br>
        <table>
            <tr>
                <td>
                    <input  type="text" placeholder="enter username" th:field="*{username}">
                </td>
                <td>
                    <input  type="password" placeholder="password" th:field="*{password}">
                </td>
                <td>
                    <input  type="submit" value="signin">
                </td>
                <td>
                   <button> <a th:href="@{/users/list}">signup</a></button>
                </td>

            </tr>
        </table>
    </form>
</div>
</body>
</html>
