<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <link th:href="@{/assets/styles/style.css}" rel="stylesheet" >
</head>
<body>
<div class="root_container">
    <form method="post" th:action="@{/users/save}" th:object="${user}">
        <table>
            <tr>
                <td>
                    <input type="text"  required pattern="^[a-zA-Z]+$" placeholder="username" th:field="*{username}">
                </td>
                <td>
                    <input type="password" required placeholder="password" th:field="*{password}">
                </td>
                <td>
                    <input type="submit" value="add new user">
                </td>
            </tr>
        </table>
    </form>


    <table class="books">
        <tr>
            <th>username</th>
            <th>password</th>

        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.username}"></td>
            <td th:readonly="${user.password}"></td>
        </tr>
    </table>
</div>

<form method="get" th:action="@{/login}">
    <input class="button_item" type="submit" value="exit">
</form>

</body>
</html>