<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/users/save}" th:object="${user}">
        <table>
            <tr>
                <td>
                    <input type="text"  required pattern="^[a-zA-Z]+$" placeholder="username" th:field="*{username}">
                </td>
                <td>
                    <input type="text" required placeholder="password" th:field="*{password}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/users/remove}">
        <table>
            <tr>
                <td>
                    <input type="text" required pattern="^[ 0-9]+$" placeholder="id number" th:name="userIdToRemove">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>



</div>
</body>
</html>